*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Manrope", serif;
}
.input-group input,.input-group span{
  background-color: transparent;
  border: none;
  color: #ddd;
}
.input-group input::placeholder{
  color: #ddd;
  font-size: 15px;
  
}
.input-group input:focus{
  background-color: transparent;
  color: #fff;
  box-shadow: none;
}
.input-group{
  border: 2px solid var(--color1) !important;
  border-radius: 10px;
  height: 42px;
  overflow: hidden;
}

.loaderbody {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f8f9fa;
}

.loader {
  width: 50px;
  height: 50px;
  border: 5px solid #3498db;
  border-top: 5px solid transparent;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
